<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>frame</key>
			<string>{{0,22},{1024,40}}</string>
			<key>className</key>
			<string>UIView</string>
			<key>backgroundColor</key>
			<string>blackColor</string>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{16,27},{100,30}}</string>
			<key>className</key>
			<string>UIButton</string>
			<key>color</key>
			<string>lightGrayColor</string>
			<key>title</key>
			<string>捐助我们</string>
			<key>action</key>
			<string>press:</string>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{130,27},{80,30}}</string>
			<key>className</key>
			<string>UIButton</string>
			<key>action</key>
			<string>press:</string>
			<key>title</key>
			<string>搜索</string>
			<key>color</key>
			<string>whiteColor</string>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{180,27},{80,30}}</string>
			<key>className</key>
			<string>UIButton</string>
			<key>action</key>
			<string>press:</string>
			<key>title</key>
			<string>图片</string>
			<key>color</key>
			<string>lightGrayColor</string>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{230,27},{80,30}}</string>
			<key>className</key>
			<string>UIButton</string>
			<key>action</key>
			<string>press:</string>
			<key>title</key>
			<string>地图</string>
			<key>color</key>
			<string>lightGrayColor</string>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{280,27},{80,30}}</string>
			<key>className</key>
			<string>UIButton</string>
			<key>action</key>
			<string>press:</string>
			<key>title</key>
			<string>学术</string>
			<key>color</key>
			<string>lightGrayColor</string>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{330,27},{80,30}}</string>
			<key>className</key>
			<string>UIButton</string>
			<key>action</key>
			<string>press:</string>
			<key>title</key>
			<string>更多</string>
			<key>color</key>
			<string>lightGrayColor</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>frame</key>
			<string>{{355,235},{228,91}}</string>
			<key>className</key>
			<string>UIImageView</string>
			<key>image</key>
			<string>google</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>frame</key>
			<string>{{256,369},{512,30}}</string>
			<key>className</key>
			<string>UITextField</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>frame</key>
			<string>{{336,426},{100,31}}</string>
			<key>className</key>
			<string>UIButton</string>
			<key>action</key>
			<string>press:</string>
			<key>title</key>
			<string>Google搜索</string>
			<key>color</key>
			<string>blackColor</string>
			<key>backgroundColor</key>
			<string>lightGrayColor</string>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{493,426},{100,31}}</string>
			<key>className</key>
			<string>UIButton</string>
			<key>action</key>
			<string>press:</string>
			<key>title</key>
			<string>手气不错</string>
			<key>color</key>
			<string>blackColor</string>
			<key>backgroundColor</key>
			<string>lightGrayColor</string>
		</dict>
	</array>
</array>
</plist>
